body{
    font-family: Avenir;
}

.header{
    height: 2000px;
    background-color: pink;
    color: gray;
    padding: 200px;
}


.header h1{
    color: grey;
    max-width: 500px;
    font-size: 60px;
    text-align: center;
}

.body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.video{
    width: 640px;
    height: 390px;
    background-color: #2D2D2D;
}

.video.play{
    background-color: purple;
}

.footer{
    background-color: #ccc;
    height: 1200px;
    padding: 300px 60px;
    display: flex;
    justify-content: space-between;

}
.cuadrados {
    width: 300px;
    height: 300px;
    background-color: white;
}



